@font-face{
    font-family: 'item lista';
    src: url(./LongCang-Regular.ttf);
}

@font-face{
    font-family: 'principal';
    src: url(./Anaheim-Regular.ttf);
}

$fonte-principal: 'principal';
$fonte-lista: 'item lista';